:root {
	--primary: #0050b8;
	--background: #ffffff;
	--shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	--shadowHover: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	--containerPadding: 45px 10px 0 10px;
	--loginBgPaddingTop: 400px;
	--stenkowaTitleOffset: -36px;
	--mediaMiddle: 900px;
}

* {
	margin: 0;
	font-family: 'Lato';
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}
body {
	position: relative;
}
h2 {
	color: var(--background);
}
a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	color: inherit;
}
.swiper {
	padding: 10px !important; //so box shadow work
}
#container {
	transition: 0.5s;
	transform: translateY(0);
}

// React select lib (on /bookmark/create)
.select__control,
.select__value-container {
	border: none !important;
	height: 100% !important;
	cursor: pointer;
}
.select__indicators {
	cursor: pointer;
}
.select__input-container {
	margin: 0 !important;
}
.select__control {
	box-shadow: var(--shadow) !important;
	color: red;
}
.select__option {
	display: flex !important;
	justify-content: center !important;
	padding: 12px 0 !important;
}
.select__single-value {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 0 8px 0;
}
